<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Learning facets</title>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<!--projects button-->
			<div class="row" id="projects">
				<div class="col-md-12">
					<a class="btn btn-default" href="#" role="button">Projects</a>
				</div>
			</div>
		</div>
	</body>
</html>