$def with (text_files)
<div class="slideshow-container">
  $for text_file in text_files:
    <div class="mySlides">
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
              <ul class="sidebar-nav">
                <li>
                    pythontestfile.py
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <pre><code class="language-python">$text_file</code></pre>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
       </div>
     </div>
       <!-- /#wrapper -->

</div>
